.container {
  margin: auto;
  text-align: center;
}

#button {
  margin: auto;
  align-items: center;
  width: 50px;
  height: 30px;
  background-color: pink;
  display: flex;
  font-weight: bolder;
}

body {
  font-style: italic;
  background-color: silver;
}
