.container {
  margin: auto;
  text-align: center;
}

#button {
  margin: auto;
  align-items: center;
  width: 50px;
  height: 30px;
  background-color: rgb(127, 176, 245);
  display: flex;
  font-weight: bolder;
}

body {
  font-style: italic;
  background-color: rgb(255, 158, 158);
}

/* Default styles */
.img1 {
  height: 150px;
  width: auto;
}

/* Styles for screens that are 600px wide or less */
@media (max-width: 600px) {
  .img1 {
    height: 100px;
  }
}

/* Styles for screens that are 400px wide or less */
@media (max-width: 400px) {
  .img1 {
    height: 80px;
  }
}
/* Default styles */
.img2 {
  height: 150px;
  width: auto;
}

/* Styles for screens that are 600px wide or less */
@media (max-width: 600px) {
  .img2 {
    height: 100px;
  }
}

/* Styles for screens that are 400px wide or less */
@media (max-width: 400px) {
  .img2 {
    height: 80px;
  }
}
